<div class="jumbotron">
  <h1>The Dhammapada</h1>
  <p class="lead">
  <img src="images/Buddha.png" alt="The Buddha"><br>
  The Dhammapada (Pāli) is a collection of sayings of the Buddha in verse form and one of the most widely read and best known Buddhist scriptures.

  </p>
  <p>
  Based on the translation by Ven. Narada
  </p>
</div>

<div>
  <ul>
    <li ng-repeat="chapter in Book.Chapters">
    <h3>
      <a ng-href="#/verse/{{chapter.FirstParagraph}}">{{chapter.Pali}} - {{chapter.Title}}</a>
    </h3>
    </li>
  </ul>
</div>

